/* Initialization */

* {
    margin: 0;
    padding: 0;
}

/* Navbar CSS */



.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2815, 28, 56, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler {
    border: none !important;
}

.nav-link {
    /* overwriting bootstrap */
    color: var(--primary-text-color) !important;
    font-weight: 600 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    /* overwriting bs css */
    outline: none !important;
    box-shadow: none !important;
}

.navbar-scroll {
    background: #f3f3f3;
    box-shadow: 0 0 30px -20px #041220;
    transition: all 0.5s ease;
}

.form-control:focus {
    /* overwriting bs css */
    box-shadow: none !important;
  }

/* Hero Section CSS */
.hero-banner {
    background-image: url(../Assets/windmill-35.png);
    width: 100%;
    height: 100%;
    background-size: cover;
}

/* Index Page CSS */

/* hero section css */
.hero-contents {
    color: var(--primary-text-color);
    margin: 200px 0
}

.hero-title {
    font-size: 70px;
    font-weight: 700 !important;
}

.hero-subtitle {
    font-size: 50px;
    font-weight: 600 !important;
}

.hero-buttons {
    margin-top: 50px;
}

.section-img {
    margin: 50px 0 50px 0;
}

.section-text-content {
    margin: 50px 50px 50px 0;
}

.dark-section-bg {
    background-color: var(--blue-color);
    color: #fff;
}

.section-title {
    font-weight: 600;
    color: var(--blue-color);
}

.body-icons {
    font-size: 150px;
    color: #fff;
}


.border-radius-tlr {
    border-radius: 50px 0 !important;
}

.border-radius-trr {
    border-radius: 0 50px !important;
}

/* Projects card css */

.card-hover {
    position: relative;
    overflow: hidden;
    width: 100%;
    /* Set to 100% to let Bootstrap control the width */
    height: 300px;
    /* Default height */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-hover img {
    transition: transform 0.3s ease;
    width: 100%;
    /* Ensure the image covers the card fully */
    height: 100%;
    /* Maintain full height for card size */
    object-fit: cover;
    /* Cover the card without stretching */
}

.card-hover:hover img {
    transform: scale(1.1);
    /* Zoom effect on hover */
}

.card-hover .hover-text {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    transition: bottom 0.4s ease;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.card-hover:hover .hover-text {
    bottom: 0;
}

/* Testimonials card css */

.testimonial-card-hover {
    position: relative;
    overflow: hidden;
    width: 100%;
    /* Allow Bootstrap grid to control width */
    height: 300px;
    /* Default height */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.testimonial-card-hover .testimonial-hover-text {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--blue-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    transition: bottom 0.4s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.testimonial-card-hover:hover .testimonial-hover-text {
    bottom: 0;
}

.quote {
    font-size: 1.2em;
    font-weight: bold;
}

.person-name {
    font-size: 1em;
    color: #131313;
}

/* Case Studies card css */
.case-card-hover {
    width: 100%;
    /* Allow Bootstrap grid to control the width */
    height: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.case-card-hover:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.4);
}

/* Call to Action Section CSS */
.call-to-action-bg {
    margin: 0 50px 50px 50px;
    background-color: var(--blue-color);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.call-to-action-bg:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.4);
}

.cta-text {
    font-size: 40px;
    text-align: center;
}

/* Footer CSS */
.footer {
    background-color: #f8f9fa;
    padding: 40px 0;
}

.footer-logo {
    width: 150px;
}

.footer .services,
.footer .quick-links,
.footer .calculators {
    list-style: none;
    padding: 0;
}

.footer h5 {
    font-weight: bold;
    margin-bottom: 20px;
}

.footer a {
    text-decoration: none;
    color: #000;
}

.footer-social-icons a {
    margin-right: 15px;
    font-size: 1.5rem;
    color: #000;
}

/* Footer Bottom Styling */
.footer-bottom {
    padding: 10px;
    background-color: #000;
    color: #fff;
    font-size: 14px;
}


.stop-overflow-email {
    word-wrap: break-word;
    /* Break long words onto the next line */
    word-break: break-all;
    /* Ensure that the entire string fits within the container */
    display: inline-block;
    /* Ensure it stays within the block */
    width: 100%;
    /* Make the link fit its parent container */
}

/* Media Queries for Responsiveness */
@media (max-width: 992px) {
    #perm-navbar-mobile {
        background: #f3f3f3;
        box-shadow: 0 0 30px -20px #041220;
        transition: all 0.5s ease;
    }

    .hero-title {
        font-size: 65px;
    }

    .hero-subtitle {
        font-size: 45px;
    }

    .hero-buttons {
        margin-top: 40px;
    }

    .card-hover {
        height: 250px;
        /* Reduce card height on medium screens */
    }

    .hover-text {
        font-size: 1.3rem;
        /* Reduce font size for hover text */
    }

    .testimonial-card-hover {
        height: 250px;
        /* Decrease height on medium screens */
    }

    .testimonial-hover-text {
        font-size: 1.3rem;
        /* Slightly smaller font size */
    }

    .case-card-hover {
        height: 180px;
        /* Reduce height for medium screens */
    }

    .call-to-action-bg {
        margin: 0 30px 30px 30px;
    }

    .cta-text {
        font-size: 35px;
    }
}

/* Media Queries for Tablets and Large Mobiles (up to 768px) */
@media (max-width: 768px) {
    .hero-contents {
        margin: 150px 0 50px 0;
        text-align: center;
        /* Center text for smaller screens */
    }


    .hero-title {
        font-size: 55px;
    }

    .hero-subtitle {
        font-size: 35px;
    }

    .hero-buttons {
        margin-top: 30px;
    }

    .card-hover {
        height: 200px;
        /* Reduce card height on small screens */
    }

    .hover-text {
        font-size: 1.2rem;
        /* Further reduce font size for hover text */
    }

    .testimonial-card-hover {
        height: 220px;
        /* Reduce height for small screens */
    }

    .testimonial-hover-text {
        font-size: 1.2rem;
        /* Further reduce font size */
    }

    .case-card-hover {
        height: 160px;
        /* Further reduce height for small screens */
    }

    .call-to-action-bg {
        margin: 0 20px 20px 20px;
    }

    .cta-text {
        font-size: 30px;
    }

    .footer-logo {
        width: 120px;
    }

    .footer-social-icons a {
        margin-right: 10px;
    }
}

/* Media Queries for Small Mobiles (up to 576px) */
@media (max-width: 576px) {


    .hero-title {
        font-size: 50px;
    }

    .hero-subtitle {
        font-size: 30px;
    }

    .hero-buttons {
        margin-top: 20px;
    }

    .card-hover {
        height: 180px;
        /* Further reduce card height on extra small screens */
    }

    .hover-text {
        font-size: 1rem;
        /* Small font size for mobile */
    }

    .testimonial-card-hover {
        height: 180px;
        /* Smaller height for mobile devices */
    }

    .testimonial-hover-text {
        font-size: 1rem;
        /* Smallest font size for mobile */
    }

    .quote {
        font-size: 1rem;
        /* Adjust quote font size for mobile */
    }

    .person-name {
        font-size: 0.9rem;
        /* Adjust person name font size for mobile */
    }

    .case-card-hover {
        height: 140px;
        /* Smallest height for mobile devices */
    }

    .call-to-action-bg {
        margin: 0 15px 15px 15px;
    }

    .cta-text {
        font-size: 25px;
    }
}